<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="currency_pairs" value="btcusd,btceur,eurusd,xrpusd,xrpeur,xrpbtc,ltcusd,ltceur,ltcbtc,ethusd,etheur,ethbtc,bchusd,bcheur,bchbtc"/>
    <add key="root_directory" value="C:\Users\xiaoyuan\Desktop"/>
    <add key="snapshot_folder" value="snapshot"/>
    <add key="streaming_folder" value="streaming"/>
    <add key="interval" value="1125"/>
    <add key="snapshot_uri" value="https://www.bitstamp.net/api/v2/ticker/"/>
    <add key="streaming_uri" value="wss://ws.bitstamp.net"/>
  </appSettings>
</configuration>